*{
  box-sizing: border-box;
}

.widthHeight{
  width: 200px;
  height: 100px;
  /* background-color: rgb(23, 194, 48); */
  background-image: url('https://images.unsplash.com/photo-1735596365888-ad6d151533f2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  color: rgb(0,255,0);
  border-width: 10px;
  border-style: solid;
  border-color: rgb(255,0,0);
  margin-top: 100px;
  margin-left: 20px;
  padding-top: 20px;
  padding-left: 20px;
  box-shadow: 69px 67px 86px 0px rgba(114,201,150,1);
  -webkit-box-shadow: 69px 67px 86px 0px rgba(114,201,150,1);
  -moz-box-shadow: 69px 67px 86px 0px rgba(114,201,150,1);
}

#block1, #block2, #block3{
  display: inline;
}

#span1, #span2{
  display: block;
}

label{
  display: block;
}